@font-face {
	font-family: 'ChakRe';
	src: url('../Font/ChakraPetch-Regular.ttf'), url('../Font/ChakraPetch-Regular.woff');
}

@font-face
{
    font-family: 'ChakBold';
    src: url('../Font/ChakraPetch-Bold.ttf'), url('../Font/ChakraPetch-Bold.woff');
    font-weight:bold;
}

@font-face
{
    font-family: 'ChakMedium';
    src: url('../Font/ChakraPetch-Medium.ttf'), url('../Font/ChakraPetch-Medium.woff');
    font-weight:bold;
}

