// region Roboto
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face{
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}
@font-face{
    font-family: 'SVN';
    src: url('../fonts/SVN-Avo.ttf');
}
@font-face{
    font-family: 'SVN';
    src: url('../fonts/SVN-HelveticaNeueBold.ttf');
    font-weight:bold;
}
// endregion