.customer{
    padding: 50px 0;
    background: #eee;
    .list{
        font-family: "SFUI";
        .list-title{
            font-size: 40px;
            position: relative;
            z-index: 1;
            background: #eee;
            padding: 0 20px;
            color: #000;
        }
        .list-text{
            font-size: 16px;
            color: #666;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                top: -16px;
                width: 100%;
                left: 0;
                height: 2px;
                background: rgba(0,0,0,0.1);
            }
        }
        .list-body{
            .item{
                border: 1px solid rgba(0,0,0,0.3);
                height: 130px;
                background: #fff;
                margin: 0 5px;
                overflow: hidden;
                border-radius: 5px;
                .item-img{
                    .imgc0:before{
                        padding-bottom: 45%;
                        outline: none;
                    }
                }
            }
        }
    }
}