.footer{
    padding: 50px 0 30px 0;
    color: #fff;
    font-family: "SFUI";
    background: linear-gradient(to right, #2cdd86, #010786);
    .logo{
        width: 268px;
        height: 229px;
        margin: 0 auto;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .social{
        ul{
            display: flex;
            padding: 0;
            margin: 25px 0;
            justify-content:center;
            li{
                list-style: none;
                cursor: pointer;
                color: #fff;
                background: #000;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                display: flex;
                margin: 0 5px;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 5px rgba(0,0,0,0.5);
                &:hover{
                    box-shadow: 0 0 10px rgba(0,0,0,0.5);
                }
                &.fb{
                    background: #3b5998;
                }
                &.go{
                    background: #dd4b39;
                }
                &.tw{
                    background: #00aced;
                }
                &.yo{
                    background: #ff0000;
                }
                &.sk{
                    background: #00aff0;
                }
            }
        }
    }
    .certify{
        text-align: center;
    }
    .title{
        font-size: 20px;
        font-weight: bold;
    }
    .text{
        font-size: 15px;
        font-weight: bold;
    }
    .body{
        p{
            font-size: 14px;
            text-align: justify;
        }
    }
    .industry{
        width: 100%;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid rgba(255,255,255,0.7);
        p{
            padding: 0 80px;
        }
    }
}