/*Question list*/
.question-list{
    padding: 50px 0;
    font-family: "SFUI";
    .list{
        .list-head{
            display: flex;
            border-bottom: 1.5px solid rgba(0,0,0,0.1);
            .list-title{
                font-size: 36px;
                color: #333;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    height: 4px;
                    width: 90px;
                    background: #0077C4;
                }
            }
        }
        .list-body{
             margin-top: 20px;
            .item{
                padding: 20px 0;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    left: 15px;
                    right: 15px;
                    bottom: 0;
                    height: 1px;
                    background: rgba(0,0,0,0.1);
                }
                &.item-row{
                    .item-img{
                        overflow: hidden;
                        .imgc{
                            img{
                                transition: 0.3s;
                            }
                            &:before{
                                padding-bottom: 65%;
                            }
                        }
                        &:hover{
                            img{
                                transition: 0.3s;
                                transform: scale(1.15);
                            }
                        }
                    }
                    .item-body{
                        .item-title{
                            font-size: 20px;
                            font-weight: bold;
                            color: #333;
                            &:hover{
                                color: #0B6FAF;
                            }
                        }
                        .item-date-view{
                            font-size: 14px;
                            color: #888;
                            margin: 5px 0;
                        }
                        .item-text{
                            text-align: justify;
                            font-size: 16px;
                            color: #333;
                        }
                    }
                }
            }
        }
    }
    .paginate{
        margin: 0 auto;
        margin-top: 30px;
        ul{
            display: flex;
            margin: 0;
            padding: 0;
            width: 100%;
            justify-content: center;
            align-items: center;
            li{
                list-style: none;
                padding: 5px 10px;
                margin: 0 2px;
                background: $color-white;
                border: 1px solid rgba(0,0,0,0.2);
                &.active{
                    background: #0B6FAF;
                    a{
                        color: #fff;
                    }
                }
                a{
                    color: #777;
                    font-size: $font-size;
                    font-family: "Roboto";
                    i.fa{
                        font-size: $font-size-tru-2;
                    }
                }
                &:hover{
                    background: #0B6FAF;
                    a{
                        color: $color-white;
                    }
                }
            }
        }
    }
}

/*Question detail*/
.question-detail{
    padding: 50px 0;
    font-family: "SFUI";
    color: #333;
    .list{
        .list-title{
            font-size: 36px;
        }
        .date-view{
            display: flex;
            color: #999;
            font-size: 14px;
            .right{
                flex: 1;
                text-align: right;
                span.fa{
                    padding: 3px 5px;
                    margin: 0 2px;
                    cursor: pointer;
                    border-radius: 4px;
                    background: #E8E8E8;
                    &:hover{
                        background: #F3F3F3;
                    }
                }
                a{
                    span{
                        background: #4167ab;
                        padding: 2px 10px;
                        border-radius: 4px;
                        color: #fff;
                        font-family: 'Roboto';
                        font-size: $font-size-tru-2;
                        font-weight: bold;
                        &:hover{
                            background: #0082D6;
                        }
                    }
                }
            }
        }
        .list-body{
            margin-top: 10px;
            border-top: 1px solid rgba(0,0,0,0.1s);
            padding: 20px 0;
            font-size: 16px;
            text-align: justify;
            color: #333;
            .box-img{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .social-share{
        border-bottom: 1px solid rgba(0,0,0,0.1);
        border-top: 1px solid rgba(0,0,0,0.1);
        padding: 10px 0 8px 0;
        margin: 20px 0;
        ul{
            display: flex;
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                &.social{
                    flex: 1;
                    text-align: right;
                    span{
                        background: #4167ab;
                        padding: 2px 10px;
                        border-radius: 4px;
                        color: #fff;
                        font-family: 'Roboto';
                        font-size: $font-size-tru-2;
                        font-weight: bold;
                        &:hover{
                            background: #0082D6;
                        }
                    }
                    img{
                        margin-bottom: 3px;
                        margin-left: 5px;
                    }
                }
                &.action{
                     a{
                         font-size:$font-size-cong-1;
                         color: #999;
                         &:hover{
                             color: #0B6FAF;
                         }
                     }
                     i.fa{
                         font-size: $font-size-tru-2;
                     }
                }
            }
        }
    }
    .coment-fb{
        width: 100%;
        .title{
            font-size: 24px;
            color: #333;
            font-weight: bold;
            margin: 20px 0 10px 0;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    .question-other{
        .title{
            font-size: 24px;
            color: #333;
            font-weight: bold;
            margin: 20px 0 10px 0;
        }
        .slick-slider{
            .item{
                width: 50%;
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        list-style: none;
                        padding: 10px;
                        display: flex;
                        position: relative;
                        .item-img{
                            width: 200px;
                            height: 130px;
                            .imgc{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .item-body{
                            padding-left: 10px;
                            .item-title{
                                font-size: 16px;
                                font-weight: bold;
                                color: #333;
                                &:hover{
                                    color: #0082D6;
                                }
                            }
                            .item-date-view{
                                font-size: 14px;
                                color: #999;
                            }
                        }
                        &:nth-child(1){
                            &:before{
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 10px;
                                right: 10px;
                                height: 1px;
                                background: rgba(0,0,0,0.1);
                            }
                        }
                    }
                }
            }
            .slick-arrow{
                top: -35px;
                height: 20px;
                width: 20px;
                background: #4167ab;
                border-radius: 3px;
                outline: none;
                &:hover{
                    opacity: 0.5;
                }
                &.slick-prev{
                    left: 95%;
                }
                 &.slick-next{
                     right: 0;
                 }
            }
        }
    }
    .form-comment{
        margin-top: 30px;
        .title{
            font-size: 24px;
            color: #333;
            font-weight: bold;
            margin: 20px 0 10px 0;
        }
        .form-cmt{
            background: #f9f9f9;
            padding: 25px;
            .text{
                font-size: 18px;
            }
            input{
                width: 100%;
                padding: 4px 10px;
                color: #333;
                font-size: 16px;
                outline: none;
                margin-bottom: 10px;
            }
            textarea{
                width: 100%;
                padding: 5px 10px;
                color: #333;
                font-size: 16px;
                outline: none;
            }
            button{
                margin-top: 10px;
                padding: 5px 30px;
                background: #0B6FAF;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}

/*Question complete*/
.question-complete{
    padding: 50px 0;
    font-family: "SFUI";
    .box{
        .icon{
            color: #fff;
            width: 50px;
            height: 50px;
            background: #0c68a7;
            border-radius: 50%;
            margin: 0 auto;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
        }
        .title{
            color: #000;
            font-size: 30px;
            font-weight: bold;
        }
        .text{
            padding: 0 400px;
            font-size: 16px;
            margin-bottom: 30px;
            span{
                color: red;
                font-weight: bold;
            }
        }
        .redirect{
            padding: 10px 20px;
            background: #0c68a7;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            border-radius: 3px;
        }
    }
}